.darkCircle{
    width: 200px;
    object-fit: contain;
    position: absolute;
    top: 250px;
    margin: auto;
    left: -100px;
    z-index: var(--farthest);
    opacity: 1;
    transition: all 0.2s linear;
}

@media(max-width: 800px){
    .darkCircle{
        opacity: 0;
    }
}