.background{
    background-color: #004047;
    height: 1000px;
    display: flex;
    padding-top: 140px;
    justify-content: center;
    align-items: start;
    position: relative;
    overflow: hidden;
}

.darkCircle{
    width: 200px;
    object-fit: contain;
    position: absolute;
    top: 0px;
    left: -100px;
}

.square{
    width: 147px;
    object-fit: contain;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.directors{
    display: grid;
    width: 1110px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 76px;
}

.directors_title{
    grid-column: 1/4;
    color: #FFF;
    text-align: center;
    font-family: var(--font);
    font-size: 3rem;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: -12px;
}

.director_card{
    width: 100%;
    height: 253px;
    position: relative;
    transform-style: preserve-3d;
}


.card_front, .card_back {
    width: 100%;
    height: 100%;  
    backface-visibility: hidden;    
    position: absolute;
    inset: 0;
    margin: auto;      
}

.card_front{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px; 
    background-color: #012F34;
    z-index: var(--far);
    transition: all 0.6s linear;
}

.card_front img {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    border: 2px solid #C4FFFE;
    margin-bottom: 16px;
    object-fit: contain;
}

.card_front h2{
    color: #79C8C7;
    text-align: center;
    font-family: var(--font);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}

.card_front i{
    color: #FFF;
    text-align: center;
    font-family: var(--font);
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 25px; /* 166.667% */
}

.card_front button{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    color: #012F34;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    background-color: #F67E7E;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    font-weight: 800;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0; 
    margin: auto;
}
.close{
    width: 16px;
    object-fit: contain;
    pointer-events: none;
}



.card_front button:hover{
    background-color: #79c8c7;
}


.card_back{
    background-color: #002529;
    transform: rotate3d(0, 1, 0, 180deg);
    z-index: var(--farthest);
    transition: all 0.6s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}

.card_back h2{
    color: #79C8C7;
    text-align: center;
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    margin-bottom: 8px;
}

.card_back q{
    width: 90%;
    color: #FFF;
    text-align: center;
    font-family: var(--font);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 166.667% */
    margin-bottom: 24px;
}

.card_back button{
    width: 56px;
    height: 56px;
    cursor: pointer;
    border-radius: 100%;    
    font-family: var(--font);
    background-color: #79c8c7;
    color: #012F34;
    border: none;
    position: absolute;
    bottom: -27px;
    font-size: 1.2rem;
    font-weight: 800;
}

.card_back button:hover{
    background-color: #F67E7E;
}

.socialLinks{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.socialLinks li{
    width: 24px;    
    cursor: pointer;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.socialLinks li:nth-of-type(1){
    height: 19.5px;
    mask-image: url('./images/icon-twitter.svg');
    -webkit-mask-image: url('./images/icon-twitter.svg');
    background-color: white;
}

.socialLinks li:nth-of-type(2){
    height: 24px;
    mask-image: url('./images/icon-linkedin.svg');
    -webkit-mask-image: url('./images/icon-linkedin.svg');
    background-color: white;
}

.socialLinks li:hover{
    background-color: #F67E7E;
}

@media(max-width: 1170px){
    .directors{
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 800px){
    .background{
        height: 1219px;
        padding-top: 100px;
    }

    .directors{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 11px;
        row-gap: 76px;
    }

    .directors_title{
        font-size: 2rem;
        grid-column: 1/3;
        margin-bottom: -28px;
    }
}


@media(max-width: 620px){
    .background{
        height: 2073px;
        padding-top: 88px;
    }

    .directors{
        grid-template-columns: 1fr;
        row-gap: 52px;
    }

    .directors_title{
        grid-column: 1/2;
        margin-bottom: -4px;
    }
    
    .socialLinks li:nth-of-type(2){
        width: 20px;
        height: 20px;
    }
    
    .darkCircle{
        top: -100px;
    }
}