.background{
    position: relative;
    border: 0.0000000000000000001px solid transparent;          /* used to prevent margin collapse*/
}

.header{
    display: flex;
    justify-content: space-between;
    width: 1110px;
    gap: 182px;
    margin: 0px auto 120px auto;
    overflow: hidden
}

.pinkCircle{
    width: 200px;
    position: absolute;
    bottom: 0px;
    right: -100px
}

.header_title{
    color: #FFF;
    font-family: var(--font);
    font-size: 4rem;
    font-weight: 700;
    line-height: 100px; /* 156.25% */
}

.header_desc{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header_desc hr{
    width: 50px;
    height: 4px;
    border: none;
    background-color: #F67E7E;
}

.header_desc p {
    width: 90%;
    color: #FFF;
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
}

@media(max-width: 1170px){
    .header{
        width: 90%;
    }
}

@media(max-width: 1000px){
    .header{
        gap: 80px;
    }
}

@media(max-width: 800px){
    .header{
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-bottom: 112px;
    }

    .header_title{
        line-height: 56px;
    }

    .header_desc hr{
        display: none;
    }

    .header_desc p {
        width: 70%;
        margin: auto;
        text-align: center;
        color: #FFF;
        text-align: center;
        font-family: var(--font);
        font-size: 0.9375rem;
        font-weight: 600;
    }
}

@media(max-width: 620px){
    .header{
        gap: 16px;
        margin-bottom: 108px;
    }

    .pinkCircle{
        bottom: -100px;
    }
    
    .header_title{
        color: #FFF;
        font-size: 2.5rem;
        line-height: 40px; /* 100% */
    }

    .header_desc p{
        width: 100%;
    }
}