.container{
    height: 84px;
    position: relative;
    border: none;
}

.textarea{
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid white;
    padding-left: 14px;
    background-color: transparent;
    width: 100%;
    height: 84px;
    resize: none;
    color: #FFF;
    font-family: var(--font);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.115px;
}

.textarea:focus{
    outline: none;
}


.textarea::placeholder{
    color: var(--placeholder);
}

.errorMessage{
    display: none;
    color: #F67E7E;
    font-family: var(--font);
    font-size: 0.625rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    position: relative;
    left: 14px;
    bottom: -2px;
}